<!DOCTYPE html>
<html>
  <head>
    <title>WebDJ</title>
    <!--Google Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/vue"></script>
    <script defer src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>

    <div id="app">
      <!--The left deck is at full volume when the fader == 0-->
      <audio-deck :deck="decks.left" :gain="1 - faderPosition"></audio-deck>
      <div>
        <!--List of tracks in our playlist-->
        <div class="tracklist">
          <div v-for="track in tracks">
            <button type="button" @click="loadTrack('left', track)"><</button>
            <img :src="track.artwork_url" :alt="track.title + ' album art'"/>
            {{ track.title }}
            <button type="button" @click="loadTrack('right', track)" class="right button">></button>
          </div>
        </div>
        <input type="range" class="crossfader" v-model="faderPosition"
          min="0" max="1" step=".01"/>
      </div>
      <!--The right deck is at full volume when the fader == 1-->
      <audio-deck :deck="decks.right" :gain="faderPosition"></audio-deck>
    </div>

  </body>
</html>